<div ng-controller="homeCtrl">
      <!-- Welcome Screen -->
      <div ng-show="welcomeScreen" style="background-color:#f8615a !important; height:1000px !important; width:100% !important; z-index: 2000 !important; display:block; position: fixed !important;">
        <div class="d-flex justify-content-around align-items-center" >
          <div>
            <img src="asset/images/bucket.png" style="height:100px;width:120px;margin-top:150px;" >
          </div>
        </div>
        <div class="text-center text-white mt-3">
          <h5><b>FreshMeatBucket</b></h5>
          <i class="fa fa-cog fa-spin fa-3x fa-fw text-white"></i>
          <span class="sr-only">Loading...</span>    
        </div>
      </div>
    
      <!-- Home Screen --> 
      <div ng-show="showContent">
          <div class="container-fluid m-0 p-0">
              
            <!-- Carousel -->  
            <div id="carouselExampleIndicators" class="carousel slide p-3" style="background-color:#f8615a !important; margin-top:64px;" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active" data-interval="1500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/fish.png" style="height:104px;width:120px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Fresh Fishes</b></h5>
                  </div>
                </div>

                <div class="carousel-item " data-interval="1500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/chicken.png" style="height:104px;width:120px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Fresh Chicken</b></h5>
                  </div>
                </div>

                <div class="carousel-item" data-interval="1500">
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <img src="asset/images/seafoods.png" style="height:104px;width:100px;" >
                  </div>
                </div>
                <div class="text-center text-white mt-3">
                  <h5><b>Fresh Seafood</b></h5>
                </div>
              </div>

              <div class="carousel-item" data-interval="1500">
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <img src="asset/images/marinated.png" style="height:104px;width:100px;" >
                  </div>
                </div>
                <div class="text-center text-white mt-3">
                  <h5><b>Marinated Products</b></h5>
                </div>
              </div>       

                <div class="carousel-item" data-interval="2500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/restaurant.png" style="height:104px;width:100px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>FMB's Kitchen</b></h5>
                  </div>
                </div>
                <div ng-repeat="banner in banners" class="carousel-item" ng-if="banner.gsx$show.$t == 'y'" data-interval={{banner.gsx$duration.$t}}>
                  <div class="d-flex justify-content-around align-items-center">
                    <div class="text-center text-white">
                      <h5>{{banner.gsx$lineone.$t}}<br>
                        <b>{{banner.gsx$linetwo.$t}}</b>
                      </h5>
                      <br>
                      <div>
                        {{banner.gsx$linethree.$t}}<br> 
                        {{banner.gsx$linefour.$t}}<br>
                        {{banner.gsx$linefive.$t}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/FMB_food-delivery.png" style="height:104px;width:100px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Home Delivery</b></h5>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev text-dark" href="#carouselExampleIndicators" role="button" data-slide="prev" target="_self">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" href="#carouselExampleIndicators" role="button" data-slide="next" target="_self">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
            </div>
          </div><!-- Carousel Ends--> 
          
          <div class="container">
              <div class="card-deck">
              <div class="row row-cols-1 row-cols-md-3 mt-4">
                  <div class="col-4 mb-4">
                    <a href="#fish" class="text-decoration-none">  
                        <div class="card shadow">
                          <img src="asset/images/fish.png" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Fish</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4 mb-4">
                    <a href="#chicken" class="text-decoration-none">   
                        <div class="card shadow">
                          <img src="asset/images/chicken.png" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Chicken</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4 mb-4">
                    <a href="#seafood" class="text-decoration-none">   
                        <div class="card shadow">
                          <img src="asset/images/seafoods.png" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Seafood</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4 mb-4">
                    <a href="#goatmeat" class="text-decoration-none">   
                        <div class="card shadow">
                          <img src="asset/images/goat.svg" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Goat Meat</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4 mb-4">
                    <a href="#marinated" class="text-decoration-none">   
                        <div class="card shadow">
                          <img src="asset/images/marinated.png" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Marinated</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4 mb-4">
                    <a href="#masale" class="text-decoration-none">   
                        <div class="card shadow">
                          <img src="asset/images/masale.svg" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Masale</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4 mb-4">
                    <a href="#kitchen" class="text-decoration-none">   
                        <div class="card shadow">
                          <img src="asset/images/restaurant.png" class="card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center"><small>Kitchen</small></h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                </div>
              </div>      
          </div>      
      </div>      
</div>
    