<div ng-controller="homeCtrl">
      <!-- Welcome Screen --> 
      <div splash-screen show="welcomeScreen"></div>
      <!-- Home Screen --> 
      <div ng-if="showContent">
          <div class="container-fluid m-0 p-0">
              
            <!-- Carousel -->  
<!--            <div id="carouselExampleIndicators" class="carousel slide p-3" style="background-color:#f8615a !important; margin-top:64px;" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active" data-interval="1500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/fish.png" style="height:104px;width:120px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Fresh Fishes</b></h5>
                  </div>
                </div>

                <div class="carousel-item " data-interval="1500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/chicken.png" style="height:104px;width:120px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Fresh Chicken</b></h5>
                  </div>
                </div>

                <div class="carousel-item" data-interval="1500">
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <img src="asset/images/seafoods.png" style="height:104px;width:100px;" >
                  </div>
                </div>
                <div class="text-center text-white mt-3">
                  <h5><b>Fresh Seafood</b></h5>
                </div>
              </div>

              <div class="carousel-item" data-interval="1500">
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <img src="asset/images/marinated.png" style="height:104px;width:100px;" >
                  </div>
                </div>
                <div class="text-center text-white mt-3">
                  <h5><b>Marinated Products</b></h5>
                </div>
              </div>       

                <div class="carousel-item" data-interval="2500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/restaurant.png" style="height:104px;width:100px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>FMB's Kitchen</b></h5>
                  </div>
                </div>
                <div ng-repeat="banner in banners" class="carousel-item" ng-if="banner.gsx$show.$t == 'y'" data-interval={{banner.gsx$duration.$t}}>
                  <div class="d-flex justify-content-around align-items-center">
                    <div class="text-center text-white">
                      <h5>{{banner.gsx$lineone.$t}}<br>
                        <b>{{banner.gsx$linetwo.$t}}</b>
                      </h5>
                      <br>
                      <div>
                        {{banner.gsx$linethree.$t}}<br> 
                        {{banner.gsx$linefour.$t}}<br>
                        {{banner.gsx$linefive.$t}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/FMB_food-delivery.png" style="height:104px;width:100px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Home Delivery</b></h5>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev text-dark" href="#carouselExampleIndicators" role="button" data-slide="prev" target="_self">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" href="#carouselExampleIndicators" role="button" data-slide="next" target="_self">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
            </div>
          </div>--><!-- Carousel Ends--> 
          
          <div class="container-fluid bg-white py-3 mt-6">
              <a href="#kitchen" class="text-decoration-none">
              <div class="card  brand-background-color  border-0">
                <div class="row no-gutters shadow">
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><b>FMB's Kitchen</b></h5>
                      <p class="card-text">घर का बना खाना</p>
                    </div>
                  </div>
                  <div class="col-4">
                    <img src="asset/images/category/restaurant.png" class=" kitchen-logo-image  card-img-top text-center p-2" alt="...">
                  </div>
                </div>
                <div class="card-footer border-0 brand-color-dark py-2">
                  <b>View Menu</b> <i class="fa fa-arrow-right text-white" aria-hidden="true"></i>
                </div>
              </div>
            </a>
          </div>
          <div class="container-fluid bg-white py-3 mt-3 ">
            <div class="mb-2">
                <span class="text-monospace">EVERYDAY FRESH</span>
            </div>  

            <div class="card-deck bg-light p-3">
              <div class="row row-cols-1 row-cols-md-3">
                  <div class="col-4">
                    <a href="#fish" class="text-decoration-none">  
                        <div class="card shadow-sm">
                          <img src="asset/images/category/fish.png" class="every-day-fresh-image mx-auto d-block  card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center every-day-fresh-image-text">Fish</h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4">
                    <a href="#chicken" class="text-decoration-none">   
                        <div class="card shadow-sm">
                          <img src="asset/images/category/chicken.png" class="card-img-top mx-auto d-block every-day-fresh-image text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center every-day-fresh-image-text">Chicken</h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4">
                    <a href="#seafood" class="text-decoration-none">   
                        <div class="card shadow-sm">
                          <img src="asset/images/category/seafoods.png" class="every-day-fresh-image mx-auto d-block  card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center every-day-fresh-image-text">
                                Seafood</h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4">
                    <a href="#goatmeat" class="text-decoration-none">   
                        <div class="card shadow-sm mb-0">
                          <img src="asset/images/category/goat.svg" class="every-day-fresh-image mx-auto d-block  card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center every-day-fresh-image-text">Goat Meat</h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4">
                    <a href="#marinated" class="text-decoration-none">   
                        <div class="card shadow-sm mb-0">
                          <img src="asset/images/category/marinated.png" class="every-day-fresh-image mx-auto d-block  card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center every-day-fresh-image-text">Marinated</h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                  <div class="col-4">
                    <a href="#masale" class="text-decoration-none">   
                        <div class="card shadow-sm mb-0">
                          <img src="asset/images/category/masale.svg" class="every-day-fresh-image mx-auto d-block card-img-top text-center p-2" alt="...">
                          <div class="card-body p-0">
                            <h5 class="card-title text-center every-day-fresh-image-text">Masale</h5>
                          </div>
                        </div>
                    </a>    
                  </div>
                </div>
              </div>      
          </div>
          <div class="container-fluid bg-white py-3 mt-3 dod-group">
            <div class="mb-2">
                <span class="text-monospace">DEAL OF THE DAY</span>
            </div>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
              <div class="col-5">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-5">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-5">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-5">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-5">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
<!--
                        
            <div class="row flex-nowrap">
                <div class="col-4 ">
              
                </div>  
                
                                <div class="col-4 ">
                    <a href="#kitchen" class="text-decoration-none">    
                        <div class="card shadow-sm text-center">
                          <img src="asset/images/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                          <div class="card-body p-1">
                             <span class="badge badge-danger text-white">120 INR</span>
                            <div class="card-title text-wrap">Fish Tikka Masala</div>
                          </div>
                        </div>
                    </a>      
                </div> 
                
                                <div class="col-4 ">
                    <a href="#kitchen" class="text-decoration-none">    
                        <div class="card shadow-sm text-center">
                          <img src="asset/images/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                          <div class="card-body p-1">
                             <span class="badge badge-danger text-white">120 INR</span>
                            <div class="card-title text-wrap">Fish Tikka Masala</div>
                          </div>
                        </div>
                    </a>      
                </div> 
                
                                <div class="col-4 ">
                    <a href="#kitchen" class="text-decoration-none">    
                        <div class="card shadow-sm text-center">
                          <img src="asset/images/FMB_Fish_Tikka.jpg" class="card-img-top dod-image-height" alt="...">
                          <div class="card-body p-1">
                             <span class="badge badge-danger text-white">120 INR</span>
                            <span class="card-title text-wrap">Fish Tikka Masala</span>
                          </div>
                        </div>
                    </a>      
                </div> 
            </div>                       
-->
          </div>
          <div class="container-fluid bg-white py-3 mt-3 ">
            <div class="mb-2">
                <span class="text-monospace">POPULAR KITCHEN ITEMS</span>
            </div>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4">
              <div class="col-10">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top popular-kitchen-image" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-10">
                <div class="card shadow-sm text-center">
                  <a href="#kitchen" class="text-decoration-none">
                    <img src="/asset/images/products/kitchen/fish/FMB_Fish_Tikka.jpg" class="card-img-top popular-kitchen-image" alt="...">
                    <div class="card-body p-1">
                      <span class="badge badge-danger text-white">120 INR</span>
                      <div class="card-title text-wrap every-day-fresh-image-text">Fish Tikka Masala</div>
                    </div>
                  </a>
                </div>
              </div>    
              </div>    
     
          </div>      
      </div>      
</div>
    