<div ng-controller="SocialCtrl">
        <div class="container-fluid">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Product</label>
        <select class="form-control" ng-model="selectedProduct" id="product" 
                                            ng-change="selectProduct(selectedProduct)"
                >
          <option ng-repeat="media in social" value="{{media}}">{{media.gsx$cateogry.$t}} - {{media.gsx$productname.$t}}</option>        
        </select>
    </div>
    

    
   
    <div class="card mt-2">
      <div class="card-header">
        INSTAGRAM
      </div>
      <div class="card-body">
              <textarea class="form-control" id="ig" rows="20" >{{selectedProductMedia.gsx$instagram.$t}}</textarea>

      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        FACEBOOK
      </div>
      <div class="card-body">
              <textarea class="form-control" id="fb" rows="20" >{{selectedProductMedia.gsx$instagram.$t}}</textarea>

      </div>
    </div>
             </div>
</div>