<div ng-controller="fishCtrl">
      <!-- Welcome Screen -->
      <div ng-if="welcomeScreen" style="background-color:#f8615a !important; height:1000px !important; width:100% !important; z-index: 2000 !important; display:block; position: fixed !important;">
        <div class="d-flex justify-content-around align-items-center" >
          <div>
            <img src="asset/images/bucket.png" style="height:100px;width:120px;margin-top:150px;" >
          </div>
        </div>
        <div class="text-center text-white mt-3">
          <h5><b>FreshMeatBucket</b></h5>
          <i class="fa fa-cog fa-spin fa-3x fa-fw text-white"></i>
          <span class="sr-only">Loading...</span>    
        </div>
      </div>
    
      <!-- Fish Screen --> 
      <div ng-if="showContent"  class="mt-9">
          <nav class="navbar fixed-top-secondary-nav navbar-light bg-light">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"> <a class="text-decoration-none" href="#/">Home</a> </li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">Fish</li>
            </ul>
          </nav>
          
          <div class="container-fluid">
              
            <!-- Carousel -->  
   <!--         <div id="carouselExampleIndicators" class="carousel slide p-3" style="background-color:#f8615a !important; margin-top:64px;" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active" data-interval="1500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/fish.png" style="height:104px;width:120px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Fresh Fishes</b></h5>
                  </div>
                </div>

                <div class="carousel-item " data-interval="1500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/chicken.png" style="height:104px;width:120px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Fresh Chicken</b></h5>
                  </div>
                </div>

                <div class="carousel-item" data-interval="1500">
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <img src="asset/images/seafoods.png" style="height:104px;width:100px;" >
                  </div>
                </div>
                <div class="text-center text-white mt-3">
                  <h5><b>Fresh Seafood</b></h5>
                </div>
              </div>

              <div class="carousel-item" data-interval="1500">
                <div class="d-flex justify-content-around align-items-center">
                  <div>
                    <img src="asset/images/marinated.png" style="height:104px;width:100px;" >
                  </div>
                </div>
                <div class="text-center text-white mt-3">
                  <h5><b>Marinated Products</b></h5>
                </div>
              </div>       

                <div class="carousel-item" data-interval="2500">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/restaurant.png" style="height:104px;width:100px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>FMB's Kitchen</b></h5>
                  </div>
                </div>
                <div ng-repeat="banner in banners" class="carousel-item" ng-if="banner.gsx$show.$t == 'y'" data-interval={{banner.gsx$duration.$t}}>
                  <div class="d-flex justify-content-around align-items-center">
                    <div class="text-center text-white">
                      <h5>{{banner.gsx$lineone.$t}}<br>
                        <b>{{banner.gsx$linetwo.$t}}</b>
                      </h5>
                      <br>
                      <div>
                        {{banner.gsx$linethree.$t}}<br> 
                        {{banner.gsx$linefour.$t}}<br>
                        {{banner.gsx$linefive.$t}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-interval="3000">
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <img src="asset/images/FMB_food-delivery.png" style="height:104px;width:100px;" >
                    </div>
                  </div>
                  <div class="text-center text-white mt-3">
                    <h5><b>Home Delivery</b></h5>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev text-dark" href="#carouselExampleIndicators" role="button" data-slide="prev" target="_self">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" href="#carouselExampleIndicators" role="button" data-slide="next" target="_self">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
              </a>
            </div>
          </div> Carousel Ends -->
          
          
          <!--fish Card -->
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 mb-5">
              <div ng-if="fishes.length !=0" class="col mt-4 px-3half py-2" ng-repeat="fish in fishes">
                <div class="card shadow h-100">
                  <img src="asset/images/{{fish.gsx$image.$t}}" class="card-img-top img-fluid"  onerror=this.src="asset/images/defaultFMB.png">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-9">
                        <h6>{{fish.gsx$productname.$t}}</h6>
                      </div>
                      <div class="col-3">
                        <span class="badge badge-light brand-color">{{fish.gsx$discountpercentage.$t}} % OFF</span> 
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <div ng-if="fish.gsx$halal.$t == 'y'" class="float-left">
                          <ul class="list-inline text-center mb-0">
                            <li class="list-inline-item"><img src="asset/images/halal.svg" style="height:30px;width:30px;"></li>
                            <li class="list-inline-item"><span class="text-success"><small>{{fish.gsx$halaldescription.$t }}</small></span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class="d-flex justify-content-between">
                          <div>
                            <p class="uom-font"><b>{{fish.gsx$qty.$t}} {{fish.gsx$uom.$t}}</b></p>
                          </div>
                          <div>
                            <span class="text-muted"><s>{{fish.gsx$sellingprice.$t}}</s></span>   
                            <span class="price-font"><b> {{fish.gsx$finalprice.$t}} &#8377</b></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="card-text text-muted text-justify text-truncate"><small>{{fish.gsx$description.$t }} </small><span class="text-muted float-right"><small>...More</small></span> </p>
                    
                    <div class="d-flex justify-content-between" ng-if=" fish.gsx$note1.$t.length !=0 || fish.gsx$note2.$t.length !=0 ||  fish.gsx$note3.$t.length !=0 || fish.gsx$note4.$t.length !=0">
                      <div> 
                        <ul class="list-inline">
                          <li class="list-inline-item" ng-if="fish.gsx$note1.$t.length !=0">
                            <i class="fa fa-check-square-o text-muted" aria-hidden="true"></i> <small>{{fish.gsx$note1.$t}}</small>
                          </li>
                          <li class="list-inline-item" ng-if="fish.gsx$note2.$t.length !=0">
                            <i class="fa fa-check-square-o text-muted" aria-hidden="true"></i> <small>{{fish.gsx$note2.$t}}</small>
                          </li>
                          <li class="list-inline-item" ng-if="fish.gsx$note3.$t.length !=0">
                            <i class="fa fa-check-square-o text-muted" aria-hidden="true"></i> <small>{{fish.gsx$note3.$t}}</small>
                          </li>
                          <li class="list-inline-item" ng-if="fish.gsx$note4.$t.length !=0">
                            <i class="fa fa-check-square-o text-muted" aria-hidden="true"></i> <small>{{fish.gsx$note4.$t}}</small>
                          </li>    
                        </ul>
                      </div>
                    </div>    
                    <div class="d-flex justify-content-between">
                      <div>
                        <ul class="list-unstyled text-center mb-0">
                          <li class="text-muted">
                            <i class="fa fa-cube" aria-hidden="true"></i> Packing
                          </li>
                          <li>
                            <small>{{fish.gsx$packing.$t}}</small>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <ul class="list-unstyled text-center mb-0">
                          <li class="text-muted">
                            <i class="fa fa-motorcycle " aria-hidden="true"></i> Delivery
                          </li>
                          <li>
                            <small>{{fish.gsx$processingtime.$t}}</small>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-light p-1 border-0">
                    <div class="row">
                      <div class="col-6 pr-1">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Qty</span>
                          </div>
                          <input type="number" class="form-control"
                            ng-model="fish.gsx$productshortname.$t"    
                            >
                          <div class="input-group-append">
                            <span class="input-group-text">{{fish.gsx$uom.$t}}</span>
                          </div>
                        </div>
                     </div>        

                      <div class="col-6">
                        <a 
                          href="https://wa.me/{{fish.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{fish.gsx$productname.$t}}%0AQuantity:{{fish.gsx$productshortname.$t}}%20{{fish.gsx$uom.$t}}%20" class="btn btn-brand float-right"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> Order Now</a>
                      </div>
                    </div>
                    <!--
                      <div class="d-flex justify-content-between">
                      
                        <div>
                          <a href="tel:+919425032877" class="btn btn-outline-secondary"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Call Us</a>
                        </div>  
                        <div>
                          
                        </div>
                        
                      </div>
                      -->
                  </div>
                </div>
              </div>
              <div ng-if="fishes.length !=0" class="col mt-3 px-3half py-2">
                <div class="card shadow h-100 border-warning">
                  <div class="d-flex justify-content-around">
                    <div>
                      <img src="asset/images/bulkorder.png" class="card-img-top mt-2" alt="..." style="height:100px;width:120px;">
                    </div>
                  </div>
                  <h6 class="text-center mt-2"><b>Bulk Special Order!</b></h6>
                  <div class="card-body p-3">
                    <form  id="enquiryForm" name="enquiryForm" novalidate>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">What Product You Want?</label>
                        <select ng-model="user.product" class="form-control" id="exampleFormControlSelect1"  ng-required="true" >
                          <option value="">Choose...</option>
                          <optgroup label="Fishes" ng-if="fishes.length !=0">
                            <option value="{{fish.gsx$productname.$t}}" ng-repeat="fish in fishes">{{fish.gsx$productname.$t}}</option>
                          </optgroup>
                          <optgroup label="Chicken" ng-if="chickens.length !=0">
                            <option value="{{chicken.gsx$productname.$t}}" ng-repeat="chicken in chickens">{{chicken.gsx$productname.$t}}</option>
                          </optgroup>
                          <optgroup label="Seafood" ng-if="seafoods.length !=0">
                            <option value="{{seafood.gsx$productname.$t}}" ng-repeat="seafood in seafoods">{{seafood.gsx$productname.$t}}</option>
                          </optgroup>
                          <optgroup label="Restaurant Menu" ng-if="restaurants.length !=0">
                            <option value="{{restaurant.gsx$productname.$t}}" ng-repeat="restaurant in restaurants">{{restaurant.gsx$productname.$t}}</option>
                          </optgroup>
                        </select>
                        <div  class="invalid-feedback" ng-show="enquiryForm.user.product.$error.required && enquiryForm.user.product.$dirty">
                          Product Selection Required
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Quantity</label>
                        <input type="text" ng-model="user.quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                          ng-required="true">    
                        <div  class="invalid-feedback" ng-show="enquiryForm.user.quantity.$error.required && enquiryForm.user.quantity.$dirty">
                          Quantity Required
                        </div>
                      </div>
                      <a 
                        href="https://wa.me/919425032877?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{user.product}}%0AQuantity:%20{{user.quantity}}%20."
                        role="button" class="btn btn-success float-right"
                        ng-class="{disabled:!enquiryForm.$valid}"
                        ><i class="fa fa-whatsapp" aria-hidden="true"></i> Send Enquiry</a>
                    </form>
                  </div>
                </div>
              </div>
              <div ng-if="fishes.length ==0" class="col mt-3 px-3half py-2">
                <div class="card shadow border-danger">
                  <div class="d-flex justify-content-around">
                    <div>
                      <img src="asset/images/noproduct.png" class="card-img-top mt-2" alt="..." style="height:100px;width:120px;">
                    </div>
                  </div>
                  <h6 class="text-center mt-2">No Product Found !</h6>
                  <div class="card-body p-3">
                    <form  id="enquiryForm" name="enquiryForm" novalidate>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">What Product You Want?</label>
                        <select ng-model="user.product" class="form-control" id="exampleFormControlSelect1"  ng-required="true">
                          <option selected>Choose...</option>
                          <option ng-repeat="product in tools">                {{product.gsx$productname.$t}}
                          </option>
                        </select>
                        <div  class="invalid-feedback" ng-show="enquiryForm.user.product.$error.required && enquiryForm.user.product.$dirty">
                          Product Selection Required
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Quantity</label>
                        <input type="text" ng-model="user.quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                          ng-required="true">    
                        <div  class="invalid-feedback" ng-show="enquiryForm.user.quantity.$error.required && enquiryForm.user.quantity.$dirty">
                          Quantity Required
                        </div>
                      </div>
                      <a 
                        href="https://wa.me/919425032877?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{user.product}}%0AQuantity:%20{{user.quantity}}%20."
                        role="button" class="btn btn-success float-right"
                        ng-class="{disabled:!enquiryForm.$valid}"
                        ><i class="fa fa-whatsapp" aria-hidden="true"></i> Send Enquiry</a>
                    </form>
                  </div>
                </div>
              </div>
          </div><!--fish Card -->
          
      </div>      
</div>
</div>    
    