<div ng-controller="ProductListCtrl">
  <div splash-screen show="welcomeScreen"></div>
  <!-- Product List Screen --> 
  <div ng-show="showContent"  class="mt-6">
    <div class="container-fluid">
      <!--product Card -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 mb-5">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-1 text-center" ng-if="kitchens.length !=0">
            <img src="asset/images/category/restaurant.png" class="every-day-fresh-image">    
          </li>
          <li class="list-group-item" ng-repeat="kitchen in kitchens">
            <div class="media">
              <div class="media-body">
                <div class="row"  ng-click="productDetail(kitchen.link[0].href)">
                  <div class="col-7">
                    <h6>{{kitchen.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{kitchen.gsx$qty.$t}} {{kitchen.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{kitchen.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2"  ng-click="productDetail(kitchen.link[0].href)">
                      <span class="text-muted"><s>{{kitchen.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{kitchen.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{kitchen.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{kitchen.gsx$productname.$t}}%0AQuantity:{{kitchen.gsx$productshortname.$t}}%20{{kitchen.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item text-center p-1" ng-if="fishes.length !=0">
            <img src="asset/images/homepage/fish-button.svg" class="every-day-fresh-image">
          </li>
          <li class="list-group-item" ng-repeat="fish in fishes" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(fish.link[0].href)">
                  <div class="col-7">
                    <h6>{{fish.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{fish.gsx$qty.$t}} {{fish.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{fish.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(fish.link[0].href)">
                      <span class="text-muted"><s>{{fish.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{fish.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{fish.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{fish.gsx$productname.$t}}%0AQuantity:{{fish.gsx$productshortname.$t}}%20{{fish.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="chickens.length !=0">
            <img src="asset/images/category/chicken.png" class="every-day-fresh-image">
          </li>
          <li class="list-group-item" ng-repeat="chicken in chickens" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(chicken.link[0].href)">
                  <div class="col-7">
                    <h6>{{chicken.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{chicken.gsx$qty.$t}} {{chicken.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{chicken.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(chicken.link[0].href)">
                      <span class="text-muted"><s>{{chicken.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{chicken.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{chicken.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{chicken.gsx$productname.$t}}%0AQuantity:{{chicken.gsx$productshortname.$t}}%20{{chicken.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="seafoods.length !=0">
            <img src="asset/images/category/seafoods.png" class="every-day-fresh-image">    
          </li>
          <li class="list-group-item" ng-repeat="seafood in seafoods" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(seafood.link[0].href)">
                  <div class="col-7">
                    <h6>{{seafood.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{seafood.gsx$qty.$t}} {{seafood.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{seafood.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(seafood.link[0].href)">
                      <span class="text-muted"><s>{{seafood.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{seafood.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{seafood.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{seafood.gsx$productname.$t}}%0AQuantity:{{seafood.gsx$productshortname.$t}}%20{{seafood.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="goatmeats.length !=0">
            <img src="asset/images/category/goat.svg" class="every-day-fresh-image">    
          </li>
          <li class="list-group-item" ng-repeat="goatmeat in goatmeats" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(goatmeat.link[0].href)">
                  <div class="col-7">
                    <h6>{{goatmeat.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{goatmeat.gsx$qty.$t}} {{goatmeat.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{goatmeat.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(goatmeat.link[0].href)">
                      <span class="text-muted"><s>{{goatmeat.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{goatmeat.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{goatmeat.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{goatmeat.gsx$productname.$t}}%0AQuantity:{{goatmeat.gsx$productshortname.$t}}%20{{goatmeat.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="marinateds.length !=0">
            <img src="asset/images/category/marinated.png" class="every-day-fresh-image">    
          </li>
          <li class="list-group-item" ng-repeat="marinated in marinateds" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(marinated.link[0].href)">
                  <div class="col-7">
                    <h6>{{marinated.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{marinated.gsx$qty.$t}} {{marinated.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{marinated.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(marinated.link[0].href)">
                      <span class="text-muted"><s>{{marinated.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{marinated.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{marinated.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{marinated.gsx$productname.$t}}%0AQuantity:{{marinated.gsx$productshortname.$t}}%20{{marinated.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="masales.length !=0">
            <img src="asset/images/category/masale.svg" class="every-day-fresh-image">    
          </li>
          <li class="list-group-item" ng-repeat="masale in masales" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(masale.link[0].href)">
                  <div class="col-7">
                    <h6>{{masale.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{masale.gsx$qty.$t}} {{masale.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{masale.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(masale.link[0].href)">
                      <span class="text-muted"><s>{{masale.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{masale.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{masale.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{masale.gsx$productname.$t}}%0AQuantity:{{masale.gsx$productshortname.$t}}%20{{masale.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="eggs.length !=0">
            <img src="asset/images/category/egg.svg" class="every-day-fresh-image"> 
          </li>
          <li class="list-group-item" ng-repeat="egg in eggs" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(egg.link[0].href)">
                  <div class="col-7">
                    <h6>{{egg.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{egg.gsx$qty.$t}} {{egg.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{egg.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(egg.link[0].href)">
                      <span class="text-muted"><s>{{egg.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{egg.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{egg.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{egg.gsx$productname.$t}}%0AQuantity:{{egg.gsx$productshortname.$t}}%20{{egg.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item p-1 text-center" ng-if="halalmeats.length !=0">
            <img src="asset/images/category/halal.svg" class="every-day-fresh-image"> 
          </li>
          <li class="list-group-item" ng-repeat="halal in halalmeats" >
            <div class="media">
              <div class="media-body">
                <div class="row" ng-click="productDetail(halal.link[0].href)">
                  <div class="col-7">
                    <h6>{{halal.gsx$productname.$t}}</h6>
                    <p class="uom-font mb-0 text-muted">{{halal.gsx$qty.$t}} {{halal.gsx$uom.$t}}</p>
                  </div>
                  <div class="col-5">
                    <img ng-src="{{halal.gsx$imagepath.$t}}" class="list-product-image img-thumbnail" alt="...">      
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <div class="mt-2" ng-click="productDetail(halal.link[0].href)">
                      <span class="text-muted"><s>{{halal.gsx$sellingprice.$t}}</s></span>   
                      <span class="price-font"><b> {{halal.gsx$finalprice.$t}} &#8377</b></span>
                    </div>
                  </div>
                  <div class="col-5 px-1">
                    <div class="mt-2 text-center">
                      <a 
                        href="https://wa.me/{{halal.gsx$contactperson.$t}}?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{halal.gsx$productname.$t}}%0AQuantity:{{halal.gsx$productshortname.$t}}%20{{halal.gsx$uom.$t}}%20." class="btn btn-brand btn-sm shadow-sm"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i> ORDER NOW</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div  class="col mt-3 px-3half py-2">
          <div class="card shadow border-danger">
            <div class="d-flex justify-content-around">
              <div>
                <img src="/asset/images/products/noproductfound/noproduct.svg" class="card-img-top mt-2" alt="..." style="height:100px;width:120px;">
              </div>
            </div>
            <h6 class="text-center mt-2">Not found your product!</h6>
            <div class="card-body p-3">
              <form  id="enquiryForm" name="enquiryForm" novalidate>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">What Product You Want?</label>
                  <select ng-model="user.product" class="form-control" id="exampleFormControlSelect1"  ng-required="true">
                    <option selected>Choose...</option>
                    <option ng-repeat="product in tools">               [{{product.gsx$category.$t}}] - {{product.gsx$productname.$t}}
                    </option>
                  </select>
                  <div  class="invalid-feedback" ng-show="enquiryForm.user.product.$error.required && enquiryForm.user.product.$dirty">
                    Product Selection Required
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Quantity</label>
                  <input type="text" ng-model="user.quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    ng-required="true">    
                  <div  class="invalid-feedback" ng-show="enquiryForm.user.quantity.$error.required && enquiryForm.user.quantity.$dirty">
                    Quantity Required
                  </div>
                </div>
                <a 
                  href="https://wa.me/919425032877?text=Hello%20FreshMeatBucket,%0AI%20would%20like%20to%20purchase%0A{{user.product}}%0AQuantity:%20{{user.quantity}}%20."
                  role="button" class="btn btn-success float-right"
                  ng-class="{disabled:!enquiryForm.$valid}"
                  ><i class="fa fa-whatsapp" aria-hidden="true"></i> Send Enquiry</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div social-info></div>    
  </div>
</div>